.ant-tabs-nav-wrap {
	color: white;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
	color: #6667ff;
}

.ant-tabs-tab:hover {
    color: #6667ff;
}

.btn-primary {
	background: #2424ff !important;
	border: none !important;
	letter-spacing: 0px !important;
}

.MuiTableCell-root {
	font-family: Varela, Roboto, "Helvetica Neue", sans-serif !important;
	border-bottom: 1px solid #444454 !important;
}
